@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWidth {
  @apply w-11/12 max-w-[1600px] mx-auto;
}

.bg-ecommerce{
  width: 100%;
  background: url('../../public/backgroundEcommerce.png') center center/cover no-repeat,
  linear-gradient(4.4deg, #5B1B67 -18.98%, #0E040F 100.96%);
  height: auto;
  
}

